@charset "UTF-8";
@import "mixin";
@import "style";

$pink_color: #f44983;
$font_color_light: #B1AABC;

html, body {
  height: 100%;
  min-width: 1280px;

}

.body_div {
  position: relative;
  width: 100%;
  height: 100%;

  a {
    display: inline-block;
    text-decoration: none;
    text-align: center;
  }
}

.section_title {
  line-height: 50px;
  background: black;

  ul {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 50px;
    text-align: center;
    position: relative;
    margin-top: 30px;
    width: 90%;

    &:after {
      content: '';
      border: 2px solid #f44983;
      position: absolute;
      bottom: 0px;
      width: 80px;
      left: 350px;
    }
  }

  li {
    //display: inline-block;
    font-family: "微软雅黑";
    font-weight: 500;
    font-size: 16px;
    padding-left: 40px;
    float: left;
    color: #fff;

    a {
      line-height: 40px;
      width: 100%;
      font-style: normal;
      color: #fff;
    }
  }

  section {
    height: 100%;
    position: relative;
  }

  .li_logo a {
    height: 60px;
    width: 270px;
    background: url("http://mt-ui.qiniudn.com/lovewith_logo.png") no-repeat;
  }

  .li_button {
    position: relative;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0 50px;
    color: #ffffff;
    padding-left: 0px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    float: right;

    &:hover {
      background: #f44983;
    }

    &:last-child {
      background: #f44983;
    }
  }

  .li_search {
    width: 200px;
    height: 30px;
    line-height: 60px;
    background: #9b9b9b;
    @include opacity(0.3);
    padding-left: 0px;
    border-radius: 15px;
    position: relative;
    margin: 15px 0 0 50px;

    span {
      display: inline-block;
      float: left;
      line-height: 30px;
      text-align: center;
    }

    a {
      width: 30px;
      display: inline-block;
      float: left;
      line-height: 30px;
      text-align: center;
    }

    .search_type {
      width: 50px;
      line-height: 30px;
      margin-left: 10px;

      i {
        padding-left: 10px;
        line-height: 30px;
      }
    }

    .choice {
      margin-top: 10px;
      height: 0;
      width: 0;
      /*transparent三角形*/
      border: 10px solid transparent;
      border-top-color: white;
      margin-left: -3px;
    }

    .input {
      width: 80px;
      padding-left: 10px;
      background: transparent;

      @include opacity(0.5);

      input {
        width: 80px;
        background: transparent;
        border: none;
        line-height: 30px;

        &::-webkit-input-placeholder {
          color: #ffffff;
          font-weight: 800;
          font-size: 16px;
        }
      }
    }
  }
}

.main_page {
  background: black;
  height: 100%;
  color: white;

  .page_information {
    position: relative;
    left: 100px;
    top: 100px;
    width: 600px;
    height: 300px;

    h1 {
      font-size: 64px;
      font-weight: 800;
    }

    p {
      display: block;
      font-size: 24px;
      font-weight: 800;
      padding-left: 5px;

      &:nth-last-child(4) {
        padding-top: 40px;
      }
    }

    .page_button {
      padding: 50px 10px 0 10px;

      a {
        width: 180px;
        height: 50px;
        line-height: 50px;
        color: white;
        font-size: 16px;
        font-family: "微软雅黑";
        font-weight: 500;
        border-radius: 25px;
        border: 1px solid #ffffff;
        margin-left: 20px;

        &:first-child {
          border: 1px solid #f44983;
          background: #f44983;
        }

        &:last-child {
          &:hover {
            border: 1px solid #f44983;
            background: #f44983;
          }
        }
      }
    }
  }
}

.main_feature {
  height: 450px;
  text-align: center;
  border-bottom: 1px solid #66667d;

  div {
    display: inline-block;
    margin: 100px auto;

    @extend .font_family;

    a {
      margin-left: 120px;
      display: block;
      float: left;
      width: 210px;
      height: 230px;
      color: $font_color_light;
      font-weight: 500;
      position: relative;
      top: 0;

      &:first-child {
        margin-left: 0px;
      }

      span {
        text-align: center;
        border: 2px solid $pink_color;
        border-radius: 42px;
        width: 80px;
        height: 80px;
        margin: 0px auto;
        display: block;
        background: white;
        line-height: 80px;

        &:before {
          content: "";
          font-size: 40px;
          color: $pink_color;
        }
      }

      h1 {
        font-size: 21px;
        padding-top: 30px;
        color: #66667d;
      }

      p {
        text-align: left;
        margin-top: 20px;
      }

      &:hover {
        span {
          background: $pink_color;

          &:before {
            color: white;
          }
        }
      }
    }

    .button_find {
      span {
        @extend .icon-magnifier;
      }
    }

    .button_invitation {
      span {
        @extend .icon-home;
      }
    }

    .button_server {
      span {
        @extend .icon-calendar;
      }
    }
  }
}

.section_recommend {
  height: 100%;
  text-align: center;

  .recommend_city {
    margin: 50px auto 20px auto;
    width: 600px;
    color: $font_color_light;

    h1 {
      margin-top: 50px;
      font-size: 37px;
      font-weight: 800;
      color: #333333;
      padding-bottom: 15px;
    }

    span {
      display: block;
      width: 35px;
      border: 2px solid $pink_color;
      margin: auto;
    }

    p {
      display: block;
      padding-top: 15px;
      font-weight: 500;
      font-size: 15px;
    }

    div {
      padding-top: 40px;

      a {
        color: $font_color_light;
        height: 30px;
        line-height: 30px;
        padding: 0 8px;
        border: 1px solid $font_color_light;
        font-size: 13px;
        font-weight: 500;
        margin-left: 10px;

        &:hover {
          color: $pink_color;
          border-color: $pink_color;
        }
      }

      .city_active {
        color: white;
        background: $pink_color;
        border-color: $pink_color;

        &:hover {
          color: white;
        }
      }
    }
  }

  .recommend_pic {
    height: 60%;
    a {
      width: 30%;
      padding-bottom: 30%;
      height: 0;
      position: relative;
      overflow: hidden;

      img {
        width: 100%;
        padding-bottom: 30%;
        left: 0;
        top: 0;
        position: absolute;
        @include transition(all 500ms ease);

      }

      &:hover {
        img {
          @include transform(scale(1.05));
          @include opacity(0.7);
        }
      }
    }
  }
}