@charset "UTF-8";
@font-face {
  font-family: 'icomoon';
  src: url("fonts/icomoon.eot?bgodvm");
  src: url("fonts/icomoon.eot?bgodvm#iefix") format("embedded-opentype"), url("fonts/icomoon.ttf?bgodvm") format("truetype"), url("fonts/icomoon.woff?bgodvm") format("woff"), url("fonts/icomoon.svg?bgodvm#icomoon") format("svg");
  font-weight: normal;
  font-style: normal; }
[class^="icon-"], [class*=" icon-"], .font_family, .main_feature div {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale; }

.icon-magnifier:before, .main_feature div .button_find span:before {
  content: "\e902"; }

.icon-home:before, .main_feature div .button_invitation span:before {
  content: "\e903"; }

.icon-calendar:before, .main_feature div .button_server span:before {
  content: "\e904"; }

html, body {
  height: 100%;
  min-width: 1280px; }

.body_div {
  position: relative;
  width: 100%;
  height: 100%; }
  .body_div a {
    display: inline-block;
    text-decoration: none;
    text-align: center; }

.section_title {
  line-height: 50px;
  background: black; }
  .section_title ul {
    display: inline-block;
    height: 60px;
    line-height: 60px;
    margin-left: 50px;
    text-align: center;
    position: relative;
    margin-top: 30px;
    width: 90%; }
    .section_title ul:after {
      content: '';
      border: 2px solid #f44983;
      position: absolute;
      bottom: 0px;
      width: 80px;
      left: 350px; }
  .section_title li {
    font-family: "微软雅黑";
    font-weight: 500;
    font-size: 16px;
    padding-left: 40px;
    float: left;
    color: #fff; }
    .section_title li a {
      line-height: 40px;
      width: 100%;
      font-style: normal;
      color: #fff; }
  .section_title section {
    height: 100%;
    position: relative; }
  .section_title .li_logo a {
    height: 60px;
    width: 270px;
    background: url("http://mt-ui.qiniudn.com/lovewith_logo.png") no-repeat; }
  .section_title .li_button {
    position: relative;
    width: 100px;
    height: 40px;
    line-height: 40px;
    margin: 10px 0 0 50px;
    color: #ffffff;
    padding-left: 0px;
    border-radius: 20px;
    border: 1px solid #ffffff;
    float: right; }
    .section_title .li_button:hover {
      background: #f44983; }
    .section_title .li_button:last-child {
      background: #f44983; }
  .section_title .li_search {
    width: 200px;
    height: 30px;
    line-height: 60px;
    background: #9b9b9b;
    opacity: 0.3;
    filter: alpha(opacity=30);
    padding-left: 0px;
    border-radius: 15px;
    position: relative;
    margin: 15px 0 0 50px; }
    .section_title .li_search span {
      display: inline-block;
      float: left;
      line-height: 30px;
      text-align: center; }
    .section_title .li_search a {
      width: 30px;
      display: inline-block;
      float: left;
      line-height: 30px;
      text-align: center; }
    .section_title .li_search .search_type {
      width: 50px;
      line-height: 30px;
      margin-left: 10px; }
      .section_title .li_search .search_type i {
        padding-left: 10px;
        line-height: 30px; }
    .section_title .li_search .choice {
      margin-top: 10px;
      height: 0;
      width: 0;
      /*transparent三角形*/
      border: 10px solid transparent;
      border-top-color: white;
      margin-left: -3px; }
    .section_title .li_search .input {
      width: 80px;
      padding-left: 10px;
      background: transparent;
      opacity: 0.5;
      filter: alpha(opacity=50); }
      .section_title .li_search .input input {
        width: 80px;
        background: transparent;
        border: none;
        line-height: 30px; }
        .section_title .li_search .input input::-webkit-input-placeholder {
          color: #ffffff;
          font-weight: 800;
          font-size: 16px; }

.main_page {
  background: black;
  height: 100%;
  color: white; }
  .main_page .page_information {
    position: relative;
    left: 100px;
    top: 100px;
    width: 600px;
    height: 300px; }
    .main_page .page_information h1 {
      font-size: 64px;
      font-weight: 800; }
    .main_page .page_information p {
      display: block;
      font-size: 24px;
      font-weight: 800;
      padding-left: 5px; }
      .main_page .page_information p:nth-last-child(4) {
        padding-top: 40px; }
    .main_page .page_information .page_button {
      padding: 50px 10px 0 10px; }
      .main_page .page_information .page_button a {
        width: 180px;
        height: 50px;
        line-height: 50px;
        color: white;
        font-size: 16px;
        font-family: "微软雅黑";
        font-weight: 500;
        border-radius: 25px;
        border: 1px solid #ffffff;
        margin-left: 20px; }
        .main_page .page_information .page_button a:first-child {
          border: 1px solid #f44983;
          background: #f44983; }
        .main_page .page_information .page_button a:last-child:hover {
          border: 1px solid #f44983;
          background: #f44983; }

.main_feature {
  height: 450px;
  text-align: center;
  border-bottom: 1px solid #66667d; }
  .main_feature div {
    display: inline-block;
    margin: 100px auto; }
    .main_feature div a {
      margin-left: 120px;
      display: block;
      float: left;
      width: 210px;
      height: 230px;
      color: #B1AABC;
      font-weight: 500;
      position: relative;
      top: 0; }
      .main_feature div a:first-child {
        margin-left: 0px; }
      .main_feature div a span {
        text-align: center;
        border: 2px solid #f44983;
        border-radius: 42px;
        width: 80px;
        height: 80px;
        margin: 0px auto;
        display: block;
        background: white;
        line-height: 80px; }
        .main_feature div a span:before {
          content: "";
          font-size: 40px;
          color: #f44983; }
      .main_feature div a h1 {
        font-size: 21px;
        padding-top: 30px;
        color: #66667d; }
      .main_feature div a p {
        text-align: left;
        margin-top: 20px; }
      .main_feature div a:hover span {
        background: #f44983; }
        .main_feature div a:hover span:before {
          color: white; }

.section_recommend {
  height: 100%;
  text-align: center; }
  .section_recommend .recommend_city {
    margin: 50px auto 20px auto;
    width: 600px;
    color: #B1AABC; }
    .section_recommend .recommend_city h1 {
      margin-top: 50px;
      font-size: 37px;
      font-weight: 800;
      color: #333333;
      padding-bottom: 15px; }
    .section_recommend .recommend_city span {
      display: block;
      width: 35px;
      border: 2px solid #f44983;
      margin: auto; }
    .section_recommend .recommend_city p {
      display: block;
      padding-top: 15px;
      font-weight: 500;
      font-size: 15px; }
    .section_recommend .recommend_city div {
      padding-top: 40px; }
      .section_recommend .recommend_city div a {
        color: #B1AABC;
        height: 30px;
        line-height: 30px;
        padding: 0 8px;
        border: 1px solid #B1AABC;
        font-size: 13px;
        font-weight: 500;
        margin-left: 10px; }
        .section_recommend .recommend_city div a:hover {
          color: #f44983;
          border-color: #f44983; }
      .section_recommend .recommend_city div .city_active {
        color: white;
        background: #f44983;
        border-color: #f44983; }
        .section_recommend .recommend_city div .city_active:hover {
          color: white; }
  .section_recommend .recommend_pic {
    height: 60%; }
    .section_recommend .recommend_pic a {
      width: 30%;
      padding-bottom: 30%;
      height: 0;
      position: relative;
      overflow: hidden; }
      .section_recommend .recommend_pic a img {
        width: 100%;
        padding-bottom: 30%;
        left: 0;
        top: 0;
        position: absolute;
        -webkit-transition: all 500ms ease;
        -moz-transition: all 500ms ease;
        -o-transition: all 500ms ease;
        -ms-transition: all 500ms ease;
        transition: all 500ms ease; }
      .section_recommend .recommend_pic a:hover img {
        -webkit-transform: scale(1.05);
        -ms-transform: scale(1.05);
        moz-transform: scale(1.05);
        -o-transform: scale(1.05);
        transform: scale(1.05);
        opacity: 0.7;
        filter: alpha(opacity=70); }

/*# sourceMappingURL=main.css.map */
